html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 90%;
    width: 100%;
    object-fit: cover;
}#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}button{
    width: 150px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

#camera--trigger{
    position: fixed;
    bottom: 30px;
    left: calc(50% - 150px);
}#whatsapp--trigger{
    width: 50px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    /* border-radius: 30px; */
    /* border: none; */
    padding: 15px 5px 5px 5px; 
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% + 50px);
}.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

#camera--trigger{
}
